<div class="container">
	<h1>About Us</h1>
	<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Molly</h3>
        <p>This is a picture of Molly</p>
       
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="thumbnail">
      <img src="" alt="Will" height="200" width="242">
      <div class="caption">
        <h3>Me</h3>
        <p>This is a picture of Me!</p>
       
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Molly and Me</h3>
        <p>This is a picture of Molly and Me!</p>
        
      </div>
    </div>
  </div>
</div>
</div>